@charset "UTF-8";

// Border Image
// Usage: @include border-image("border.png", 100%, 1, 0, stretch);
// --------------------------------------------------

// Multiple sides
@mixin border-image($source, $slice, $width, $outset, $repeat) {
  border-image-source: url($source);
  border-image-slice: $slice;
  border-image-width: $width;
  border-image-outset: $outset;
  border-image-repeat: $repeat;
  @include prefixes(border-image, url($source) $slice $width $outset $repeat);
}
