@charset "UTF-8";

// ----------------------------------------------------------
// Reset 1.0.0
// Author: KINGZHI | https://blog.imeetyou.net | @zyj1022
// Time: 2015-10-26
// URL: https://github.com/zyj1022/muss
// ----------------------------------------------------------

// 使用频度不高的标签
// abbr,acronym,bdi,bdo,big,tt,big,small,dfn,var,menu,object,sub,sup,
// -------------------------------------------------

//仅重置最常用的标签，其它标签根据需求自行添加
a,address,article,aside,audio,b,blockquote,canvas,caption,code,cite,datalist,dd,
dl,dt,del,details,dialog,em,embed,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,
header,html,kbd,mark,iframe,ins,label,li,nav,ol,p,pre,q,samp,section,span,strong,
summary,time,u,ul,video {
	margin:0;padding:0;border:0;
	font-size:100%;font-weight:normal;
	vertical-align:baseline;background:transparent;
}

article,aside,details,figcaption,figure,footer,header,nav,section,summary {display:block;}

body {margin:0;}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

a { background-color: transparent;}
a:active,a:hover { outline: 0;}

blockquote, q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: ''; content: none;}

del {text-decoration: line-through;}

img {border:0;}

ol,ul {list-style:none;}

table {border-collapse:collapse;border-spacing:0;}
td,th {padding:0;}

input, select {vertical-align: middle;}

b,strong {font-weight: bold;}

pre {overflow: auto;}

code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}

figure {margin: 1em 40px;}
