@charset "UTF-8";

// word-value
// Usage: @include word-wrap(normal);
// Usage: @include word-wrap;
// -------------------------------------------------------

@mixin word-wrap($value: break-word) {
  // normal | break-word
  overflow-value: $value;
  word-value: $value;
  @if $value == break-word {
    word-break: break-all;
  } @else {
    word-break: $value;
  }
}
